# macOS
.DS_Store

# IntelliJ / IDE
.idea/
*.iml

# Maven build output
target/

# Java
*.class

# Node
node_modules/

# Logs
*.log

# Local env / config
.env


# mail properties
src/main/resources/mail.properties